name:  CI-with-Composite-Action

on:
  workflow_dispatch:
  # push:
  #   branches: [ "main" ]

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6.1.0
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 20
    - name: Installing Dependencies
      run: npm install
    - name: lint Phase
      run:  npm run lint
    - name: unit test
      run: npm run test
    - name: Building Static Files
      run: npm run build 
    
    - name: Using Composite Action
      uses: mohammedd2510/Reusable-Workflows-Custom-Actions/.github/actions/docker-login-build-push@main
      with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            image_name: react-app-cicd
            image_tag: ${{ github.sha }}
           
  
  
