name: service container
on:
    push:
    workflow_dispatch:
jobs:
  job1:
    runs-on: ubuntu-latest
    services: 
        nginx:
            image: nginx:alpine
            ports:
                - 8080:80
        apache:
            image: httpd:2.4
            ports: 
                - 80:80
    steps:
        - name: check nginx servce
          run: |
            curl -f http://nginx
        - name: check apache service 
          if: always()
          run: | 
            curl -f http://apache